In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display

In [3]:
s = pd.Series([1, 3, 5, np.nan, 9, 11])
print(s)
print(type(s))

0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
dtype: float64
<class 'pandas.core.series.Series'>

In [5]:
df = pd.DataFrame(np.random.randn(4, 4), index=list('ABCD'), columns=list('EFGH'))
print(df)

          E         F         G         H
A  0.536526 -1.479815  0.970447 -0.201311
B -1.188290  0.389291 -1.336041  0.512420
C -1.190451 -1.232022 -0.502632 -0.660765
D  1.130120 -1.633744 -0.225949  0.081098

In [13]:
df = pd.DataFrame(np.random.randn(10, 2))
print(df.head())
display(df.head())

          0         1
0 -1.179862 -0.041442
1 -0.304442 -1.088257
2 -1.850395  1.589265
3  0.184545 -0.032532
4  0.773379  1.126008

          0         1
0 -1.179862 -0.041442
1 -0.304442 -1.088257
2 -1.850395  1.589265
3  0.184545 -0.032532
4  0.773379  1.126008

In [14]:
display(df.head(3))

          0         1
0 -1.179862 -0.041442
1 -0.304442 -1.088257
2 -1.850395  1.589265

In [16]:
display(df.tail(3))

          0         1
7 -0.967482 -0.414365
8  0.328219 -0.430529
9 -0.830767  0.258007

In [17]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [22]:
l = list(df.index)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [25]:
print(list(df.columns))

[0, 1]

In [26]:
df.values

array([[-1.17986152, -0.04144248],
       [-0.30444241, -1.08825703],
       [-1.85039461,  1.589265  ],
       [ 0.18454466, -0.03253226],
       [ 0.77337856,  1.12600765],
       [ 0.33449244, -1.83999204],
       [-1.35305124,  0.00432808],
       [-0.96748204, -0.41436516],
       [ 0.32821892, -0.43052877],
       [-0.83076727,  0.25800691]])

In [27]:
df.describe()

               0          1
count  10.000000  10.000000
mean   -0.486536  -0.086951
std     0.872434   0.984002
min    -1.850395  -1.839992
25%    -1.126767  -0.426488
50%    -0.567605  -0.036987
75%     0.292300   0.194587
max     0.773379   1.589265

In [28]:
display(df)

          0         1
0 -1.179862 -0.041442
1 -0.304442 -1.088257
2 -1.850395  1.589265
3  0.184545 -0.032532
4  0.773379  1.126008
5  0.334492 -1.839992
6 -1.353051  0.004328
7 -0.967482 -0.414365
8  0.328219 -0.430529
9 -0.830767  0.258007

In [30]:
display(df.sort_values(by=0))

          0         1
2 -1.850395  1.589265
6 -1.353051  0.004328
0 -1.179862 -0.041442
7 -0.967482 -0.414365
9 -0.830767  0.258007
1 -0.304442 -1.088257
3  0.184545 -0.032532
8  0.328219 -0.430529
5  0.334492 -1.839992
4  0.773379  1.126008

In [32]:
display(df.sort_index(axis=1, ascending=False))

          1         0
0 -0.041442 -1.179862
1 -1.088257 -0.304442
2  1.589265 -1.850395
3 -0.032532  0.184545
4  1.126008  0.773379
5 -1.839992  0.334492
6  0.004328 -1.353051
7 -0.414365 -0.967482
8 -0.430529  0.328219
9  0.258007 -0.830767