# Linq

In [61]:
from pprint import pprint
l = list(range(10))

## Aggregate

In [39]:
from functools import reduce

res = reduce(lambda a, x: a + x, l)

print(l)
print(res)

res = 0
for x in l:
    res = res + x

print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45
45

## All

In [17]:
res = all(x < 9 for x in l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
False

## Any

In [19]:
res = any(x > 8 for x in l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
True

## AsEnumerable

## Average

In [22]:
res = sum(l) / len(l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
4.5

## Cast

In [33]:
res = [float(x) for x in l]
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

## Concatenate

In [24]:
l2 = list(range(10, 20))
res = l + l2
print(l)
print(l2)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## Contains

In [26]:
res = 5 in l
print(l)
print(res)
print(any(x == 5 for x in l))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
True
True

## Count

In [27]:
res = len(l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10

## DefaultIfEmpty

In [31]:
res = [] or 'default'
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
default

## Distinct

In [34]:
l2 = [1, 1, 2, 3, 1, 2]
res = list(set(l2))
print(l2)
print(res)

[1, 1, 2, 3, 1, 2]
[1, 2, 3]

## ElementAt

In [35]:
res = l[5]
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
5

## ElementAtOrDefault

In [37]:
index = 10
res = l[index] if index < len(l) else 'default'
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
default

## Empty

In [41]:
res = []
print(res)

[]

## Except

In [44]:
l2 = [3, 7, 9]
res = list(set(l) - set(l2))
print(l)
print(l2)
print(res)
print([x for x in l if x not in l2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 7, 9]
[0, 1, 2, 4, 5, 6, 8]
[0, 1, 2, 4, 5, 6, 8]

## First

In [50]:
res = next(x for x in l if x % 2 == 1)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1

## First or default

In [99]:
res = next((x for x in l if x > 10), 'default') 
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
default

## GroupBy

In [66]:
from itertools import groupby
persons = [
    {
        'name': 'Yasin',
        'mark': 10
    },
    {
        'name': 'Ali',
        'mark': 13
    },
    {
        'name': 'Yasin',
        'mark': 12
    },
    {
        'name': 'Ali',
        'mark': 16
    }
]

persons = sorted(persons, key=lambda x: x['name'])
pprint(persons)
print()
for k, g in groupby(persons, key=lambda x: x['name']):
    print('key:', k, ', group:', list(g))
    print()

[{'mark': 13, 'name': 'Ali'},
 {'mark': 16, 'name': 'Ali'},
 {'mark': 10, 'name': 'Yasin'},
 {'mark': 12, 'name': 'Yasin'}]

key: Ali , group: [{'mark': 13, 'name': 'Ali'}, {'mark': 16, 'name': 'Ali'}]

key: Yasin , group: [{'mark': 10, 'name': 'Yasin'}, {'mark': 12, 'name': 'Yasin'}]

## GroupJoin ?

## Intersect

In [70]:
l2 = list(range(5, 15))
res = set(l) & set(l2)
print(l)
print(l2)
print(res)
print([x for x in l if x in l2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
{8, 9, 5, 6, 7}
[5, 6, 7, 8, 9]

## Join ?

## Last ?

In [72]:
res = next(reversed([x for x in l if x % 2 == 0]))
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
8

## LastOrDefault

In [73]:
try:
    res = next(reversed([x for x in l if x > 10]))
except StopIteration:
    res = 'default'
    
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
default

## Max

In [74]:
res = max(l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9

## Min

In [75]:
res = min(l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0

## OfType

In [80]:
l2 = [1, 'yasin', 2, 'ali', 3, 4, 5, 'hassan']
res = [x for x in l2 if isinstance(x, str)]
print(l2)
print(res)
print([x for x in l2 if type(x) is str])

[1, 'yasin', 2, 'ali', 3, 4, 5, 'hassan']
['yasin', 'ali', 'hassan']
['yasin', 'ali', 'hassan']

## OrderBy

In [83]:
persons = [
    {
        'name': 'yasin',
        'mark': 17
    },
    {
        'name': 'ali',
        'mark': 13
    },
    {
        'name': 'mehran',
        'mark': 14
    }
    
]

res = sorted(persons, key=lambda x:x['mark'])
pprint(persons)
pprint(res)

[{'mark': 17, 'name': 'yasin'},
 {'mark': 13, 'name': 'ali'},
 {'mark': 14, 'name': 'mehran'}]
[{'mark': 13, 'name': 'ali'},
 {'mark': 14, 'name': 'mehran'},
 {'mark': 17, 'name': 'yasin'}]

## OrderByDescending

In [85]:
persons = [
    {
        'name': 'yasin',
        'mark': 17
    },
    {
        'name': 'ali',
        'mark': 13
    },
    {
        'name': 'mehran',
        'mark': 14
    }
    
]

res = sorted(persons, key=lambda x:x['mark'], reverse=True)
pprint(persons)
pprint(res)

[{'mark': 17, 'name': 'yasin'},
 {'mark': 13, 'name': 'ali'},
 {'mark': 14, 'name': 'mehran'}]
[{'mark': 17, 'name': 'yasin'},
 {'mark': 14, 'name': 'mehran'},
 {'mark': 13, 'name': 'ali'}]

## Range

In [87]:
res = list(range(10, 20))
print(res)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## Repeat

In [88]:
res = 10 * [0]
print(res)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Reverse

In [90]:
res = list(reversed(l))
print(res)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Select

In [91]:
res = [2 * x for x in l]
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## SelectMany

In [92]:
l2 = [[1, 2], [3, 4, 5]]
res = [x for y in l2 for x in y]
print(l2)
print(res)

[[1, 2], [3, 4, 5]]
[1, 2, 3, 4, 5]

## SequenceEqual

In [93]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
res = l1 == l2
print(l1)
print(l2)
print(res)

[1, 2, 3]
[1, 2, 3]
True

## Single

In [96]:
l2 = [1]
if len(l2) == 1:
    res = l2[0]
else:
    raise Exception('Not single!')
print(res)

1

## SingleOrDefault

In [97]:
l2 = [1, 2]
if len(l2) == 1:
    res = l2[0]
else:
    res = 'default'
print(res)

default

## Skip

In [102]:
res = l[3:]
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]

## SkipWhile

In [105]:
from itertools import dropwhile
res = list(dropwhile(lambda x: x < 5, l))
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

## Sum

In [107]:
res = sum(l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

## Take

In [109]:
res = l[:3]
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]

## TakeWhile

In [111]:
from itertools import takewhile
res = list(takewhile(lambda x: x < 5, l))
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

## ThenBy

In [113]:
persons = [
    {
        'name': 'yasin',
        'mark': 15,
        'id': 1
    },
    {
        'name': 'ali',
        'mark': 16,
        'id': 2
    },
    {
        'name': 'mehran',
        'mark': 15,
        'id': 3
    }
    
]

res = sorted(persons, key=lambda x: (x['mark'], x['name']))
pprint(persons)
pprint(res)

[{'id': 1, 'mark': 15, 'name': 'yasin'},
 {'id': 2, 'mark': 16, 'name': 'ali'},
 {'id': 3, 'mark': 15, 'name': 'mehran'}]
[{'id': 3, 'mark': 15, 'name': 'mehran'},
 {'id': 1, 'mark': 15, 'name': 'yasin'},
 {'id': 2, 'mark': 16, 'name': 'ali'}]

## ThenByDescending

In [114]:
persons = [
    {
        'name': 'yasin',
        'mark': 15,
        'id': 1
    },
    {
        'name': 'ali',
        'mark': 16,
        'id': 2
    },
    {
        'name': 'mehran',
        'mark': 15,
        'id': 3
    }
    
]

res = sorted(persons, key=lambda x: (x['mark'], x['name']), reverse=True)
pprint(persons)
pprint(res)

[{'id': 1, 'mark': 15, 'name': 'yasin'},
 {'id': 2, 'mark': 16, 'name': 'ali'},
 {'id': 3, 'mark': 15, 'name': 'mehran'}]
[{'id': 2, 'mark': 16, 'name': 'ali'},
 {'id': 1, 'mark': 15, 'name': 'yasin'},
 {'id': 3, 'mark': 15, 'name': 'mehran'}]

## ToArray

In [115]:
res = list(l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## ToDictionary

In [117]:
l2 = [('name', 'Yasin'), ('age', 20), ('id', 1)]
res = dict(l2)
pprint(l2)
pprint(res)

[('name', 'Yasin'), ('age', 20), ('id', 1)]
{'age': 20, 'id': 1, 'name': 'Yasin'}

## ToList

In [118]:
res = list(l)
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## ToLookup

## Union

In [119]:
l2 = list(range(10, 20))
res = set(l1) | set(l2)
print(l1)
print(l2)
print(res)

[1, 2, 3]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
{1, 2, 3, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

## Where

In [120]:
res = [x for x in l if x % 2 == 0]
print(l)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

## Zip

In [122]:
l1 = ['yasin', 'ali', 'mehran']
l2 = [1, 2, 3]
res = list(zip(l1, l2))
print(l1)
print(l2)
print(res)

['yasin', 'ali', 'mehran']
[1, 2, 3]
[('yasin', 1), ('ali', 2), ('mehran', 3)]