In [1]:
from pprint import pprint

## Define variables
**Data types:**
1. number
1. string
1. boolean (true, false)
1. null
1. array
1. tuple
1. dictionary

In [2]:
x = 2
print(type(x).__name__)

int

In [3]:
x = 'Hello, World!'
print(type(x).__name__)

str

In [4]:
x = True
print(type(x).__name__)

bool

In [5]:
x = None
print(type(x).__name__)

NoneType

In [6]:
x = [1, 2, 3, 4]
print(type(x).__name__)

list

In [7]:
x = (1, 2, 3, 4)
print(type(x).__name__)

tuple

In [8]:
x = {'name': 'Yasin', 'age': 18}
print(type(x).__name__)

dict

In [9]:
x = dict(name='Yasin', age=18)
print(type(x).__name__)

dict

## Condition
1. if, elif, else
1. switch case

In [10]:
x = 4
if x < 2:
    print(x, 'is less than 2')
elif x < 4:
    print(x, 'is greater than or equal to 2 and less than 4')
else:
    print(x, 'is grater than or equal to 4')

4 is grater than or equal to 4

In [11]:
def one(): print('you typed 1')
def three(): print('you typed 3')
def nine(): print('you typed 9')
cases = {1: one, 3:three, 9:nine}

cases[9]()

you typed 9

## Loop
1. for
1. while

In [12]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
i = 0
while i < 10:
    print(i, end = ' ')
    i +=1

0 1 2 3 4 5 6 7 8 9

## Define Function
1. required arguments
1. default arguments
1. keyword arguments
1. variable-length arguments
1. Anonymous function

In [14]:
def add(x, y):
    return x + y

print(add(2, 3))

def printinfo(name, age):
    print('Nmae: {}, Age: {}'.format(name, age))
    
printinfo(age = 10, name = 'Yasin')

5
Nmae: Yasin, Age: 10

In [15]:
def multiplay(x, y = 1):
    return x * y

print(multiplay(3, 2))
print(multiplay(3))

6
3

In [16]:
def sum(*args):
    res = 0;
    for x in args:
        res += x
    return res

sum(1, 2, 3, 4)

10

In [17]:
def printinfo(**kwargs):
    for key in kwargs:
        print('{}: {}'.format(key, kwargs[key]))
        
printinfo(name='Yasin', age=10, id_=12345)

name: Yasin
id_: 12345
age: 10

In [18]:
add = lambda x, y: x + y
print(add(2, 3))

5

## Class
1. members
    1. properties
        1. instance
        1. class
    1. methods
        1. constructor
        1. instance
        1. class
1. inheritence
1. print member of class

In [75]:
class Person():
    '''Person Class'''
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return 'Name: {}, Age: {}'.format(self.name, self.age)
        
class Student(Person):
    '''Student Class'''
    Number = 0
    def __init__(self, name, age, id_):
        super().__init__(name, age)
        self.id_ = id_
        Student.Number += 1
        
    def __str__(self):
        return '{}, ID: {}'.format(super().__str__(), self.id_)
    
    def print_number():
        print('Number:', Student.Number)
        
s1 = Student('Yasin', 10, '02436908')
print(s1)
print(Student.Number)
s2 = Student('Ali', 11, '12345678')
print(s2)
print(Student.Number)
pprint(Student.__dict__)
pprint(s1.__dict__)
pprint(s2.__dict__)

Name: Yasin, Age: 10, ID: 02436908
1
Name: Ali, Age: 11, ID: 12345678
2
mappingproxy({'Number': 2,
              '__doc__': None,
              '__init__': <function Student.__init__ at 0x000001D96FD03950>,
              '__module__': '__main__',
              '__str__': <function Student.__str__ at 0x000001D96FD038C8>,
              'print_number': <function Student.print_number at 0x000001D96FD03730>})
{'age': 10, 'id_': '02436908', 'name': 'Yasin'}
{'age': 11, 'id_': '12345678', 'name': 'Ali'}

## List
1. create
1. read
1. update
1. delete

In [20]:
l = [1, 2, 3, 4, 5]
print(l)

l = list(range(5))
print(l)

l = []
for i in range(5):
    l.append(i)
print(l)

l = [x for x in range(5)]
print(l)

[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [21]:
x = list(range(10))
print(len(x))
print(x)
print(x[:])
print(x[::1])
print(x[0:])
print(x[::-1])
print(x[0])
print(x[-1])

10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
0
9

In [22]:
x = list(range(10))
print(x)

x.append(10)
print(x)

x.pop()
print(x)

x += [10]
print(x)

del x[10]
print(x)

x.insert(len(x), 10)
print(x)

x.remove(10)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Str

In [23]:
s = 'Hello, World!'
print(len(s))
print(s)
for c in s:
    print(c, end=' ')
print()
l = s.split()
print(' '.join(l))
print(s.upper())
print(s.lower())
print(s.capitalize())

13
Hello, World!
H e l l o ,   W o r l d !
Hello, World!
HELLO, WORLD!
hello, world!
Hello, world!

## regex

## Dict

In [24]:
d = {'Name': 'Yasin', 'Age': 10}
print(d)
print(d.keys())
print(d.values())
print(d.items())
d['id_'] = '123456'
print(d)

d = {}
print(d)
d = dict(Name='Yasin', Age=10)
print(d)

{'Name': 'Yasin', 'Age': 10}
dict_keys(['Name', 'Age'])
dict_values(['Yasin', 10])
dict_items([('Name', 'Yasin'), ('Age', 10)])
{'Name': 'Yasin', 'id_': '123456', 'Age': 10}
{}
{'Age': 10, 'Name': 'Yasin'}

## File
1. read
1. write
1. append
1. csv
1. json

In [25]:
f = open('./input.txt')
print(f.read())
f.close()

Thsi is line 1.
This is line 2.
This is line 3.

In [26]:
f = open('./input.txt')
print(f.readlines())
f.close()

['Thsi is line 1.\n', 'This is line 2.\n', 'This is line 3.\n']

In [29]:
f = open('./input.txt')
while True:
    s = f.readline()
    if s == '':
        break
    print(s, end='')
f.close()

Thsi is line 1.
This is line 2.
This is line 3.

In [28]:
for l in open('./input.txt'):
    print(l, end='')

Thsi is line 1.
This is line 2.
This is line 3.

In [31]:
f = open('./output.txt', 'w')
f.write('This is lien 1.\nThis is line 2.\nThis is line 3.\n')
f.close()

print(open('./output.txt').read())

This is lien 1.
This is line 2.
This is line 3.

In [32]:
f = open('./output.txt', 'a')
f.write('This is lien 4.\n')
f.close()

print(open('./output.txt').read())

This is lien 1.
This is line 2.
This is line 3.
This is lien 4.

In [37]:
l = []
for line in open('./comma.csv'):
    l.append([x.strip() for x in line.split(',')])
print(l)

[['ali', '10'], ['hassan', '13'], ['marry', '14']]

In [44]:
import csv
l = []
with open('./comma.csv') as f:
    reader = csv.reader(f, delimiter=',')
    for row in reader:
        print(row)

['ali', ' 10']
['hassan', ' 13']
['marry', ' 14']

In [46]:
import csv
l = list(csv.reader(open('./comma.csv'), delimiter=','))
print(l)

[['ali', ' 10'], ['hassan', ' 13'], ['marry', ' 14']]

In [50]:
import csv
with open('./comma.csv', 'a') as f:
    writer = csv.writer(f)
    writer.writerow(['kami', 23])
    
print(open('./comma.csv').read())

ali, 10
hassan, 13
marry
kami,23

In [60]:
l = list(open('./comma.csv'))
print(l)
l = open('./comma.csv').readlines()
print(l)
import csv
l = list(csv.reader(open('./comma.csv')))
print(l)

['ali, 10\n', 'hassan, 13\n', 'marry\n', 'kami,23\n', '\n']
['ali, 10\n', 'hassan, 13\n', 'marry\n', 'kami,23\n', '\n']
[['ali', ' 10'], ['hassan', ' 13'], ['marry'], ['kami', '23'], []]

In [62]:
import json
data = {
    'Nmae': 'Yasin',
    'Age': 10,
    'ID': '02436908'
}

json.dump(data, open('data.json', 'w'))

temp = json.load(open('data.json'))
pprint(temp)

{'Age': 10, 'ID': '02436908', 'Nmae': 'Yasin'}

In [64]:
2000 * 35.729

71458.0

In [67]:
3 * (500 + 1400 + 600)

7500